<div class="text-center">
  <h1 class="text-center">Welcome to Suck That Cocktail</h1>
  <p class="text-center">See our cocktails below! </p>
</div>
<div class="wrapper" style="background-image: url('<%= image_path 'bkgrnd4.jpg' %>');">
  <div class="container-fluid">
    <div class="row text-center">
      <% @cocktails.each do |cocktail|%>
      <div class="col-xs-12 col-sm-3">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path cocktail.image_url%>')">
          <div class="card-info">
            <h2> <%= link_to cocktail.name, cocktail_path(cocktail), {:style=>'color:lightgray;', :class => "css_class"}%></h2>
          </div>
        </div>
      </div>
      <% end %>
      <div class="col-xs-12 col-sm-3">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3))">
          <div class="card-linked text-center">
            <ul>
              <p>Add a New Cocktail</p>
            </ul>
            <ul>
              <i class='fa fa-plus'></i>
            </ul>
          </div>
          <%= link_to "", new_cocktail_path, class: "card-link" %>
        </div>
      </div>
    </div>
  </div>
